@import '../../style.scss';

.navbar {
  background-color: var(--bg);
  position: sticky;
  z-index: 999;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  color: var(--textColor);
  border-bottom: 1px solid var(--border);

  :nth-child(n) {
    cursor: pointer;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 30px;
    .link {
      text-decoration: none;
      span {
      }
    }
    .search {
      display: flex;
      align-items: center;
      border: 1px solid var(--border);
      gap: 10px;
      border-radius: 5px;
      padding: 5px;
      input {
        border: none;
        width: 500px;
        background-color: transparent;
        color: var(--textColor);
        @include mobile {
          display: none;
        }
        @include tablet {
          width: 200px;
        }
      }
    }
    span {
      font-weight: bold;
      font-size: 20px;
      color: var(--logo);
    }
  }
  .right {
    @include mobile {
      display: none;
    }
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      @include tablet {
        display: none;
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      span {
      }
    }
  }
}
