@import '../../style.scss';

.home {
  background-color: var(--bgSoft);
  color: var(--textColor);
  padding: 20px;
  @include mobile {
    padding: 10px;
  }
  @include tablet {
    padding: 20px;
  }
}
