html[data-theme='light'] {
  --textColor: #000;
  --bg: rgb(245, 245, 245);
  --bgLeft: rgb(181, 151, 246);
  --logo: #551a8b;
  --bgSoft: #f6f3f3;
  --textColorSoft: #555;
  --border: orange;
  --bgPost: #d5d5d5;
}

html[data-theme='dark'] {
  --textColor: #faf7f7;
  --bg: #222;
  --bgLeft: rgb(57, 43, 87);
  --logo: #f7f5f9;
  --bgSoft: #333;
  --textColorSoft: #555;
  --border: rgb(91, 61, 4);
  --bgPost: #282739;
}

@mixin add-button {
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
  background-color: #5271ff;
}

.add-button {
  @include add-button;
}

@mixin delete-button {
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
  background-color: #e31919;
}

.delete-button {
  @include delete-button;
}

@mixin mobile {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 910px) {
    @content;
  }
}
